$primary: #3366FF;

$blue: #2441B7;
$blue-lighten: $primary;
$blue-lighten-2: #539AFF;

$dark: #121212;
$dark-lighten: #343E4C;
$dark-lighten-1: #8C95A1;
$dark-lighten-2: #C7C7C7;

$light: #F5F7FF;
$light-lighten: #F9FAFB;
$light-lighten-1: #FDFDFD;
$light-lighten-2: #FFFFFF;




